@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

$space-article-pad: 6rem;
$space-large: 3rem;
$space-med: 2rem;
$space-small: 1rem;
$title-color: #01060E;
$post-title-color: #01060E;

.top-bar {
    background: #B1BEE3;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.65);
}
.top-bar-left .menu{
  background: #B1BEE3 !important;
}
.top-bar-section ul li.active > a {
    background: blue !important;
}

.button{
  background-color: green;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  letter-spacing: .8px;
}
.marg-button{
  margin-bottom: $space-large;
}

.fetch-style{
  text-shadow: 2px 2px 2px  #fff;
}

.page-title {
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  font-size: $space-large;
  color: white;
  margin-top: $space-large;
  margin-bottom: $space-large;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .8px;
}

.post-title {
  font-weight: bold;
  color: $post-title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
  padding-top: $space-med;
  font-family: 'Open Sans', serif;
}

body{
  font-family: 'Open Sans', serif;
  background: url("https://photos-3.dropbox.com/t/2/AAD4GjA1LX5v_J0FG1rFzNSG-NS9FOZ_pgARLB9pWJULGQ/12/325484521/jpeg/32x32/1/_/1/2/wordpress_bg.jpg/EJKY5cICGOAFIAcoBw/aO_iwkfJfdhliS2jsXFDYowlk9JPcUaG7_cGapQnUCI?size_mode=5");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: blue;
}

.ping-box-shadow{
  background-color:rgba(255, 255, 255, 0.90);
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Open Sans', serif;
  border-radius: 10px;
  //Out Glow For Div that Display The WordPress Blog that was pinged
  box-shadow:
    inset 0 0 50px #ddd,
    0 0 50px #fff,
    10px 0 80px #0ff;

  padding: $space-large;
}
.post-box-shadow{
  background-color:rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: $space-article-pad;
}
.post-box-shadow-none-post{
  background-color:rgba(255, 255, 255, 0.80);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  padding: $space-large;
}
.post-contents{
  padding-right: 15%;
  padding-left: 15%;
}




//Left out, will be brought back once search feature works
// input[type=search]{
//   box-shadow: none;
// }
